{
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "importOrder": ["^(svelte|@sveltejs/(.*))$", "", "<THIRD_PARTY_MODULES>", "", "^\\$lib/(.*)$", "", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "svelte"],
  "tailwindStylesheet": "./src/routes/layout.css"
}
